@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

body {
    font-family: 'Righteous Light', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.topo {
    background-color: #220058;
    text-align: center;
    position: fixed;
    width: 100%;
    /*height: 92px;*/
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgb(96, 93, 100);
}

.titulo {
    width: 100%;
    color: red;
    margin: 10px 0 10px 20px;
    font-size:40px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
}

.topo_logo_audio .titulo .slogan{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.slogan {
    margin-top: 2px;
    width: 100%;
    padding: 10px;
    color: #fd0000;
    font-family: "Roboto Light", sans-serif;
}

.borda img{
    width: 100%;
    margin: 0 -20px -10px -2px;
    height: 78px;
   }

.corpo {
    background-color: #fdfdfd;
    max-width: 100%;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 100px;
}

.categoria{
    margin-top: 5px;
    margin-left: 10px;
    overflow-x: scroll;
}

.titulo_corpo {
    margin-top: 8px;
    margin-bottom: 10px;
    color: #000000;
    margin-left: 10px;
    font-size: 20px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
}

.itens {
    display: flex;
    gap: 13px;
    overflow-x: scroll;
    margin-left: 10px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.itens::-webkit-scrollbar {
    display: none;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #b90e0e;
    border-radius: 9px;
    padding: 10px;
    text-align: center;
    width: 172px;
    height: 216px;
    flex: 0 0 172px;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}

.item img {
    max-width: 100%;
    border-radius: 5px;
    position: relative;
    object-fit: cover;
    width: 144px;
    height: 87px;
    margin:3px 3px 5px 3px;
}

.nome {
    font-family: "Righteous", sans-serif;
    color: #220056;
    font-size: 19px;
    margin-top: -16px;
}

.pais {
    font-size: 14px;
    font-family: "Dancing Script", cursive;
    color: #ffffff;
    margin-top: 3px;
    margin-bottom: 8px;
}

.descricao {
    color: #ffffff;
    font-size:15px;
}

.preco {
    padding: 5px;
    color: #f6f4fa;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin-top: auto;
}

.botao {
    align-content: center;
    background-color: #220057;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

.botao-finalizar {
    background-color: #9b9292;
    color: #fdfdfd;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    width:364px;
    height: 61px;
}

.botao-finalizar:hover {
    transition: background-color 600ms;
    cursor: pointer;
    background-color: #d043c7;
    transform: scale(105%);
}

.botao-finalizar:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.audio-player {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.play-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.play-button img {
    width: 75px;
    height: 75px;
}
